body{
  margin: 0;
  overflow-x: hidden;
  font-size: 1rem;
}

.link{
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #585757; 
  border-radius: 0px; 
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 

}