.game {
    position: relative;
    width: 100%;
    padding-bottom: 2em;
    background-color: #1a293a;
}

.main {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.mainback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: opacity(0.1) brightness(0.3);
}

.main h1 {
    color: white;
    font-weight: 500;
}

.themain {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.first {
    width: 689px;
    height: 500px;
}

.video {
    width: 100%;
    height: 400px;
}

.video video {
    width: 100%;
    height: 100%;
    ;
    object-fit: fill;
}

.extra {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0.3em;
    margin-top: 0.5em;
    padding-right: 0.2em;
    gap: 0.5em;
}

.extrabox {
    height: 70px;
    cursor: pointer;
}

.extrabox img {
    width: 130px;
    height: 70px;
}

.second {
    width: 450px;
    height: 500px;
}

.info {
    margin-left: 1em;
}

.description p {
    font-size: 0.9rem;
    color: rgb(255, 246, 246);
}

.keywords {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.down {
    position: relative;
    display: flex;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.downfirst {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.buy {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.3em;
    width: 689px;
    height: 80px;
    background: linear-gradient(60deg, rgba(117, 176, 34, 0.7) 5%, rgba(88, 138, 27, 0.6) 95%);
}


.buy h2 {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 1em;
}

.buyicons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1em;
    gap: 0.3em;
    color: white;
    font-size: 1.1rem;
}

.mainbuy {
    position: absolute;
    right: 1em;
}

.mainbuy .freebtn {
    position: relative;
    top: 3em;
    color: white;
    background: #6fa720;
    border: 2px solid black;
    height: 35px;
    width: 110px;
    font-weight: 500;
    border-radius: 0.3em;
    transition: all 0.3s;
    cursor: pointer;
}

.mainbuy .freebtn:hover{
    transform: scale(1.1);
}

.buybox {
    position: relative;
    top: 2.7em;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: black;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.3em;
}

.theprice {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: -webkit-linear-gradient(top, #6fa720 5%, #588a1b 95%);
    border-radius: 0.3em;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.dlcs{
    margin-top: 5em;
    width: 689px;
}

.dlcs h2{
    font-weight: 500;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.thedlcs{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.thedlcs button{
    position: absolute;
    background: rgba( 103, 193, 245, 0.1 );
    color: white;
    width: 120px;
    height: 25px;
    border: none;
    right: 0;
    bottom: -2.5em;
    transition: all 0.3s;
    cursor: pointer;
}

.thedlcs button:hover{
    background: rgba(38, 97, 148, 0.539);
}

.dlcbox{
    display: flex;
    align-items: center;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(97,100,101,0.3)), color-stop(100%,rgba(226,244,255,0.3)));
    transition: all 0.3s;
    height: 30px;
    cursor: pointer;
}

.dlcbox:hover{
    background-color: rgba(38, 97, 148, 0.539);
}

.dlcbox p{
    margin: 0;
    color: #a8b2ba;
    padding-left: 1em;
    font-size: 0.9rem;
}

.dlcprice{
    margin-left: auto;
    margin-right: 1em;
}

.about {
    margin-top: 5em;
    width: 689px;
}

.about h2 {
    font-weight: 500;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.about p {
    color: rgb(179, 179, 179);
    font-size: 0.9rem;
}

.about a {
    color: rgb(0, 123, 255);
}

.about img{
    width: 600px;
}

.specs {
    margin-top: 5em;
    width: 689px;
}

.specs h2 {
    font-weight: 500;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.thespecs {
    display: flex;
    align-items: center;
    gap: 1em;
}

.singlereq h3 {
    color: white;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 400;
}

.singlereq p{
    color: rgb(155, 153, 153);
    font-size: 0.7rem;
}

.mainspecs{
    display: flex;
    align-items: center;
    gap: 2em;
}

.mainspecs h3{
    color: white;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 400;
}

.mainspecs p {
    color: rgb(155, 153, 153);
    font-size: 0.7rem;
}

.minspecs{
    width: 350px;
}

.maxspecs{
    width: 350px;
}

.related{
    margin-top: 5em;
    width: 889px;
}

.related h2{
    font-weight: 500;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.relatedgames{
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 1em;
    padding-top: 1em;
    gap: 0.5em;
}

.relatedbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    background-color: rgba( 0, 0, 0, 0.2 );
    transition: all 0.3s;
    cursor: pointer;
}

.relatedbox:hover{
    transform: scale(1.05);
}

.relatedbox img{
    width: 160px;
    height: 80px;
}

.alltags{
    display: flex;
    flex-direction: column;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.5)));
    padding: 1.2em;
    margin-left: 5em;
    gap: 2px;
}

.alltagbox {
    display: flex;
    align-items: center;
    padding-left: 1em;
    background: rgba( 103, 193, 245, 0.1 );
    transition: all 0.3s;
    width: 300px;
    height: 30px;
    cursor: pointer;
}

.alltagbox:hover{
    background: rgba(38, 97, 148, 0.539);
}

.alltagbox p{
    color: #66c0f4;
    margin: 0;
}

.relatedbox p {
    color: rgb(163, 162, 162);
    font-size: 0.8rem;
}

.relatedbox h2{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}