.caruso {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.left {
    margin-right: auto;
    background: linear-gradient(to left, rgba(48, 69, 92, 0.1) 0%, rgba(48, 69, 92, 0.6) 100%);
}

.right {
    margin-left: auto;
    background: linear-gradient(to right, rgba(48, 69, 92, 0.1) 0%, rgba(48, 69, 92, 0.6) 100%);
}

.left,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

.left:hover {
    background-color: #30455c46;
}

.right:hover {
    background-color: #30455c46;
}

.arrow {
    color: white;
    font-size: 3rem;
}

.middle {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 0.9rem;
}

.extraimages {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;
}

.extraimages img {
    width: 130px !important;
    height: auto !important;
}

.image {
    display: flex;
}

.image img {
    width: 740px;
    height: 410px;
    object-fit: fill;
    cursor: pointer;
}

.opac {
    animation: opac 0.5s forwards;
}

@keyframes opac {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.info {
    position: relative;
    width: 300px;
    background-color: rgb(26, 32, 39);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.theinfo {
    margin-left: 1em;
}

.infotitle {
    font-weight: 500;
    color: white;
    font-size: 1.3rem;
}

.infodesc {
    display: -webkit-box;
    padding-right: 1em;
    font-size: 0.9rem;
    color: rgb(255, 246, 246);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.bottomcontent {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 1em;
    width: 100%;
}

.infoicon {
    position: absolute;
    right: 1.6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: white;
}

.tags {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    gap: 0.5em;
}

.price {
    position: absolute;
}

.theprice {
    margin: 0;
    font-size: 0.8rem;
    color: white;
}

.mobilecaruso {
    display: none;
    flex-direction: column;
    margin-top: 1em;
    width: 95%;
    height: 100%;
    padding-left: 2em;
}

.mobilecaruso h2 {
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}

.mobgames {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.mobbox {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;

}

.mobbox img {
    width: 800px;
    height: 500px;
}

.mobbox p {
    color: white;
    font-weight: 500;
    margin-left: 0.4em;
}

.mobprice {
    margin-left: 0.4em;
}

@media only screen and (max-width: 1200px) {
    .caruso {
        display: none;
    }

    .mobilecaruso {
        display: flex;
    }
}

@media only screen and (max-width: 930px) {
    .mobbox {
        width: 800px;
        height: 400px;
    }

    .mobbox img {
        width: 500px;
        height: 300px;
    }

}

@media only screen and (max-width: 526px) {
    .mobbox {
        width: 500px;
        height: 300px;
    }

    .mobbox img {
        width: 300px;
        height: 200px;
    }
    .mobilecaruso {
        width: 90%;
    }
    
}

@media only screen and (max-width: 338px) {
    .mobbox {
        width: 400px;
        height: 250px;
    }

    .mobbox img {
        width: 250px;
        height: 150px;
    }
}