.caruso {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.left {
    margin-right: auto;
    background: linear-gradient(to left, rgba(48, 69, 92, 0.1) 0%, rgba(48, 69, 92, 0.6) 100%);
}

.right {
    margin-left: auto;
    background: linear-gradient(to right, rgba(48, 69, 92, 0.1) 0%, rgba(48, 69, 92, 0.6) 100%);
}

.left,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

.left:hover {
    background-color: #30455c46;
}

.right:hover {
    background-color: #30455c46;
}

.arrow {
    color: white;
    font-size: 3rem;
}

.middle {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 0.9rem;
}

.extraimages{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;
}

.extraimages img{
    width: 130px !important;
    height: auto !important;
}

.image {
    display: flex;
}

.image img {
    width: 540px;
    height: 420px;
    object-fit: fill;
    cursor: pointer;
}

.opac{
    animation: opac 0.5s forwards;
}

@keyframes opac {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.info {
    position: relative;
    width: 300px;
    background-color: rgb(26, 32, 39);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.theinfo {
    margin-left: 1em;
}

.infotitle {
    font-weight: 500;
    color: white;
}

.infodesc {
    display: -webkit-box;
    padding-right: 1em;
    font-size: 0.9rem;
    color: rgb(255, 246, 246);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottomcontent{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 1em;
    width: 100%;
}

.infoicon {
    position: absolute;
    right: 1.6em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: white;
}

.tags{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5em;
}

.price{
    position: absolute;
}

.theprice {
    margin: 0;
    font-size: 0.8rem;
    color: white;
}