.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #171a21;
    padding-top: 3em;
    padding-bottom: 3em;
}

.main {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 900px;
    border-top: 1px solid rgba(128, 128, 128, 0.454);
    border-bottom: 1px solid rgba(128, 128, 128, 0.454);
}

.main img {
    width: 110px;
    cursor: pointer;
}

.main p {
    color: rgb(255, 246, 246);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 0.8rem;
}

.hrefs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 900px;
    color: white;
    font-size: 0.9rem;
}

.href{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-right: 1px solid rgba(128, 128, 128, 0.454);
}

.hrefs p {
    margin: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.hrefs p:hover {
    font-weight: 500;
}