.hexagon {
    width: var(--hexagon-width, 100px);
    height: var(--hexagon-height, 57.735px);
    background-color: #ccc;
    position: relative;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: calc(var(--hexagon-width) / 2) solid transparent;
    border-right: calc(var(--hexagon-width) / 2) solid transparent;
}

.hexagon:before {
    top: calc(-1 * var(--hexagon-height) / 2);
    border-bottom: calc(var(--hexagon-height) / 2) solid #ccc;
}

.hexagon:after {
    bottom: calc(-1 * var(--hexagon-height) / 2);
    border-top: calc(var(--hexagon-height) / 2) solid #ccc;
}
