.navbar {
    display: flex;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(10, 10, 10);
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 25em;
    cursor: pointer;
    margin-right: 2em;
}

.logo img {
    width: 140px;
}

.hrefs{
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.navbtn{
    display: flex;
    align-items: center;
    margin-left: 10em;
}

.dropcategorie{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 90px;
    left: 681px;
    z-index: 1;
    width: 150px;
    padding: 0.5em;
    background-color: white;
}

.dropcategorie p{
    cursor: pointer;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    transition: all 0.4s;
    margin: 0;
}

.dropcategorie p:hover{
    background-color: rgb(228, 231, 235);
}