.navbar {
    display: flex;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(10, 10, 10);
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 25em;
    cursor: pointer;
    margin-right: 2em;
}

.logo img {
    width: 140px;
}

.hrefs{
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.navbtn{
    display: flex;
    align-items: center;
    margin-left: 10em;
}