.random{
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    animation: glow 1s infinite alternate;
    transition: all 0.3s; 
}

.random:hover{
    transform: scale(1.06);
}

.random img{
    width: 100%;
    height: 100%;
  
}

@keyframes glow {
    0% {
        border-color: transparent;
        box-shadow: 0 0 10px rgba(0, 85, 255, 0.5);
    }
    100% {
        border-color: rgb(8, 0, 255);
        box-shadow: 0 0 20px rgba(4, 0, 255, 0.8);
    }
}