.nav {
    display: flex;
    margin-top: 3em;
    max-width: 850px;
    width: 90%;
    height: 35px;
    background-color: rgba(62, 90, 165, 0.822);
    border-radius: 0.3em;
}

.hrefs {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-left: 1em;
}

.hrefs p {
    font-size: 0.9rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s;
}

.hrefs p:hover {
    font-weight: 500;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2em;
}

.searchgames {
    position: absolute;
    top: 89%;
    left: -10.3em;
    max-width: 400px;
    max-height: 300px;
    background-color: #3D4450;
    border-radius: 0.3em;
    z-index: 1;
    overflow-x: hidden;
}

.game {
    display: flex;
    align-items: center;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    gap: 0.5em;
    transition: all 0.3s;
    cursor: pointer;
}

.game:hover {
    background-color: #8f94a0;
}

.game img {
    width: 120px;
    height: 60px;
}

.game h2 {
    color: white;
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.2em;
}

.game p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
    margin: 0;
    font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 90px;
    }

    .search {
        align-items: center;
        margin-left: unset;
        margin-right: unset;
    }

    .hrefs {
        margin-left: unset;
    }
    .searchgames {
        left: 50%;
        transform: translateX(-50%);
    }
}