.main{
    width: 100%;
    height: 2300px;
    background-color: #1a293a;
}

.caruso{
    display: flex;
    justify-content: center;
}

.banner{
    display: flex;
    justify-content: center;
}

.games{
    display: flex;
    justify-content: center;
}