.main{
    width: 100%;
    background-color: #1a293a;
    padding-bottom: 3em;
}

.caruso{
    display: flex;
    justify-content: center;
}

.banner{
    display: flex;
    justify-content: center;
}

.games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
    max-width: 1700px;
}

