.showcase {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
}

.showvideo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showvideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.random {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em;
    width: 95%;
    max-width: 1750px;
}

.first {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 0.5em;
}

.first1 {
    display: flex;
    gap: 1em;
}

.middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.last{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 0.5em;
}

.last1{
    display: flex;
    gap: 1em;
}

@media only screen and (max-width: 1802px) {
    .middle{
        display: none;
    }
    .random {
        width: 95%;
        justify-content: center;
        width: auto;
        gap: 1em;
    }
    .showcase {
        height: auto;
    }
    .first {
        margin-right: unset;
    }
    .last{
        margin-left: unset;
    }
    
  }